<!-- form handling -->
<form action="/api/books" method="POST" id="add_book">
  <div class="new_user">
    <div class="form-group">
      <label for="book" class="text-light">Book Title</label>
      <input type="hidden" name="id" value="" />
      <input
        type="text"
        name="book"
        value=""
        placeholder="Pride and Prejudice"
        required
      />
    </div>
    <div class="form-group">
      <label for="author" class="text-light">Author</label>
      <input
        type="text"
        name="author"
        value=""
        placeholder="Jane Austen"
        required
      />
    </div>
    <div class="form-group">
      <label for="genre" class="text-light">Genre</label>
      <input type="text" name="genre" value="" placeholder="" required />
    </div>

    <div class="form-group">
      <label for="year" class="text-light">Year of Publication</label>
      <input type="date" name="year" value="" placeholder="" required />
    </div>
    <div class="form-group">
      <label for="isbn" class="text-light">ISBN</label>
      <input type="text" name="isbn" value="" placeholder="" required />
    </div>

    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>
</form>
